html, body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
  

  canvas {
    display: block;
  }


p {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 19px;
	color: #777;
	display: block;
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.info {
	margin: 14px auto;
	text-align: justify;
	font-size: 18px;
	color: #999;
}

label {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	color: #555;
	display: block;
}

body
{
	background-size: cover;
	background-position: center;
}

#hi
{
	margin-left: 455px;
	margin-top: 340px;
	height: 155px;
	width: 150px;
	background-color: transparent;
	border-color: transparent;
}

#instructions
{
	margin-left: 30px;
	height: 300px;
	width: 150px; ;
	
	background-color: transparent;
	border-color: transparent;
}
#info
{
	margin-left: 30px;
	height: 300px;
	width: 150px; ;
	
	background-color: transparent;
	border-color: transparent;
}

.info
{
	font-size: 25px;
	text-align: center;
	margin-top: 200px;
	color: blue;
}

.infobody
{
	background-color: red;
}

h2
{
	text-align: left;
	
}